<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailificient</title>
</head>
<body>
    <h1>Your mail</h1>
    <p>To: <%= mail.to %></p>
    <p>Subject: <%= mail.subject %></p>
    <p>Body: <%= mail.body %></p>
    <form action="/mail/<%= mail._id %>?_method=DELETE" method="POST">
    <button>Delete</button></form>
</body>
</html>