<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Emails</title>
</head>
<body>
    <h1>All Emails</h1>
    <a href="/email/new">New Mail</a>
    <ul>
        <% for( let email of emails ) { %>
            <li><a href="/email/<%= email._id%>"><%= email.subject %></a></li>
        <% } %>
    </ul>
    <a href="/logout">LOGOUT</a>
</body>
</html>