<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Email</title>
</head>

<body>
    <h1>New Email</h1>
    <form action="/email" method="POST">
        <div>
            <label for="to">To:</label>
            <input type="text" name="to" id="to" placeholder="To">
        </div>
        <div>
            <label for="cc">CC:</label>
            <input type="text" id="cc" name="cc" placeholder="cc">
        </div>
        <div>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" placeholder="Subject">
        </div>
        <label for="body">Body:</label>
        <input type="text" name="body" id="body" placeholder="body" height="200px">
        <br>
        <label for="schedule">Select the Schedule</label>
        <select name="schedule" id="schedule">
            <option value="Repeatative">Repeatative</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
        </select>
        <button>Send</button>
    </form>
    <a href="/email">All Emails</a>

</body>

</html>