<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Reem Kufi">
    <link rel="stylesheet" href="css/home.css">
    
</head>
<body>
    <p>MAILFICIENT</p>
    <div class="logo">
        <div class="tri"></div>
        <div class="rec"></div>
    </div>
</body>
</html>