<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Reem Kufi">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

          <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class ="container">
    <div class=" title"> 
    <h1>MAILFICIENT</h1>
    </div>
    <div class=" logo">
        <div class="tri"></div>
        <div class="rec"></div>
    </div>
    <div class="slogan">" A reallly cool caption thats long thanks obye long lonnggg "</div>
        <a class="button" href="/auth/signup">GET STARTED</a>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>