<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Reem Kufi">
    <link rel="stylesheet" href="/css/signup.css">

    <title>SIGNUP</title>
</head>
<body>
    <div class="myrow">
        <div class="left">
          <div class="tri"></div>
        <div class="rec"></div>
        <div class="text">MAILFICIENT</div>
        </div>
        <div class="form">
            <div class="names">
                SIGNUP
                <!-- <hr color="#403E3E">
                <a class="btn btn-dark " href="#" role="button">Signup with Google</a>
                <hr color="#403E3E"> -->
            </div>
            <div class="myform">
            <form id="reg-form">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control mybox" id="name" placeholder="Enter your full name">
                      <div class="name error"></div>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="username" class="col-sm-2 col-form-label">Username</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control mybox" id="username" placeholder="Enter a user name of your choice">
                    <div class="username error"></div>
                  </div>
              </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control mybox" id="email" placeholder="eg. john123@gmail.com">
                      <div class="email error"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pass_word" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control mybox" id="pass_word" placeholder="Password">
                      <div class="password error"></div>
                    </div>
                  </div>
               
                <a class="mylink" href="/auth/login">Already have an account?</a>
                <input type="submit" value="submit"/>
                <!-- <a class="btn btn-dark mybtn" href="#" type="submit" role="button">Signup</a> -->
              </form>
            </div>
        </div>
    </div>
    <script>
      const form = document.getElementById('reg-form');
      // show errors on frontend
      const nameError = document.querySelector('.name.error');
      const usernameError = document.querySelector('.username.error');
      const emailError = document.querySelector('.email.error');
      const passwordError = document.querySelector('.password.error');
      
      form.addEventListener('submit',registerUser);

      async function registerUser(event){
        //prevent any default actions of the form such as auto refresh
        event.preventDefault();

        // reset errors
        nameError.textContent = '';
        usernameError.textContent = '';
        emailError.textContent = '';
        passwordError.textContent = '';

        //get all form detals
        const name = document.getElementById('name').value;
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('pass_word').value;

      try{  
        const result = await fetch('/auth/api/register',{
          method:"POST",
          headers:{
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name,
            username,
            email,
            password
          })
        });
        const data = await result.json();
        console.log(data);

        if(data.error){
            nameError.textContent = data.error.name;
            usernameError.textContent = data.error.username;
            emailError.textContent = data.error.email;
            passwordError.textContent = data.error.password;
        }
        if(data.user){
          location.assign('/auth/dashboard')
        }
      }
        catch(err){
          console.log(err);
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>