body{
    background:#E5E5E5;
}
.myrow{
    position: absolute;
    width: 1316px;
    height: 482px;
    margin-left: 0px;
    margin-top: 103px;
}
.left{
    position: absolute;
    width: 370px;
    height: 482px;
    margin-left: 0px;
    background: #403E3E;
}
.tri{
    height: 310px;
    width: 628px;
    margin-left: 56px;
    margin-top: 70px;
    position: absolute;
    clip-path: polygon(50% 0, 100% 100%, 100% 100%, 50% 100%);
    background: #C4C4C4;
    transform: rotate(-180deg);
}
.rec{
    height: 220px;
    width: 170px;
    position: absolute;
    margin-left: 200px;
    margin-top: 210px;
    border-radius:20px 0px 0px 20px;
    background: #000000;
    mix-blend-mode: overlay;
    
} 
.text{
    margin-top:290px;
    transform: rotate(-90deg);
    font-family: Reem Kufi;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:white;

}
.form{
    position: absolute;
    width: 600px;
    height: 462px;
    margin-left: 510px;
    margin-top:-20px;
    padding: 20px;
}
.names{
    padding:15px 5px 30px 5px;
    text-align: center;
    font-weight:bolder;
    font-style:Reem Kufi;
    font-size:24px;
    color:#403E3E;
}
.mybox{
    border-color: black;
    border:2s0px;
    border-radius: 30px;
}
.error{
    color: red;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
  }
.bottom{
    padding:15px;
    margin:auto;
}
.mylink{
    text-decoration: underline;
    color:#403E3E;
}
.mybtn{
    margin-top:55px;
    width:347px;
    background-color: black;
    position:absolute;
    color:white;
}